<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--配置全局设置-->
    <settings>
        <!--启用日志，并指定日志实现方式-->
        <setting name="logImpl" value="SLF4J"/>

        <!--启用主键生成策略-->
        <setting name="useGeneratedKeys" value="true"/>

        <!--配置启用下划线转驼峰的映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--关闭一级缓存，一级缓存默认是开启的，并且它的作用范围是SqlSession级别-->
        <!--SESSION（默认） 一级缓存作用范围是 SqlSession 生命周期（只要没有关闭或提交，就会使用缓存）-->
        <!--STATEMENT 每次执行语句都不会使用缓存，相当于禁用了一级缓存-->
        <setting name="localCacheScope" value="STATEMENT"/>

        <!--关闭二级缓存-->
        <setting name="cacheEnabled" value="false"/>
    </settings>

</configuration>